# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
coverage/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
# # This is built as main.css and then moved as part of the
# # release process.
# styles.css
# main.css

# Exclude sourcemaps
*.map

# Ignore everything in obsidian-dev-vault
obsidian-dev-vault/

# Others
src/**/.*
docs/**/.*
**/instructions
exported*
.DS_Store
*.lnk
css_report.txt
lint_report.txt


# Local vault configuration (private)
.vault-config.json

# direnv config
.envrc
.direnv

